[submodule "files/.tmux/plugins/tpm"]
	path = files/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "colors/base16-shell"]
	path = colors/base16-shell
	url = https://github.com/tinted-theming/base16-shell
[submodule "colors/base16-fzf"]
	path = colors/base16-fzf
	url = https://github.com/tinted-theming/base16-fzf
