[submodule ".tmux/plugins/tmux-suspend"]
	path = .tmux/plugins/tmux-suspend
	url = https://github.com/MunifTanjim/tmux-suspend
[submodule ".tmux/plugins/tmux-mode-indicator"]
	path = .tmux/plugins/tmux-mode-indicator
	url = https://github.com/MunifTanjim/tmux-mode-indicator
[submodule ".vim/pack/plugins/start/cheat40"]
	path = .vim/pack/plugins/start/cheat40
	url = https://github.com/lifepillar/vim-cheat40.git
[submodule ".vim/pack/plugins/start/tmux-complete.vim"]
	path = .vim/pack/plugins/start/tmux-complete.vim
	url = https://github.com/wellle/tmux-complete.vim.git
[submodule ".vim/pack/plugins/start/undotree"]
	path = .vim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
