[submodule ".tmux/plugins/tmux-suspend"]
	path = .tmux/plugins/tmux-suspend
	url = https://github.com/MunifTanjim/tmux-suspend
[submodule ".tmux/plugins/tmux-mode-indicator"]
	path = .tmux/plugins/tmux-mode-indicator
	url = https://github.com/MunifTanjim/tmux-mode-indicator
[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/vendor/start/cheat40"]
	path = .vim/pack/vendor/start/cheat40
	url = https://github.com/lifepillar/vim-cheat40.git
